.button {
  display: flex;
  justify-content: center;

  text-align: center;

  background-color: $primary-button-color;

  border: none;

  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: $primary-button-color-hover;
  }

  &:active {
    color: $primary-button-textcolor-hover;
  }

  @media (min-width: $tabletWidth) {
    // justify-content: start;
  }
}
