.desc {
  padding-top: 10px;
  padding-bottom: 20px;
}

.desc__heading {
  margin: 0 0 30px;

  font-size: 34px;
  line-height: 60px;
}

.desc__steps-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.desc__step {
  position: relative;

  padding-left: 80px;
  margin-bottom: 26px;
  min-height: 54px;

  font-family: "Arial", serif;
  font-size: 14px;
  line-height: 18px;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $primary-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
  }

  &:nth-child(1)::after {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &:nth-child(2)::after {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &:nth-child(3)::after {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &:nth-child(4)::after {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}
