.example {
  padding-top: 15px;
  background-color: $second-color;

  @media (min-width: $tabletWidth) {
    padding-top: 45px;
    background: linear-gradient(180deg, $default-color 0 57%, $second-color 57% 100%);
  }

  @media (min-width: $desktopWidth) {
    padding: 0;
    background: linear-gradient(180deg, $default-color 0 29%, $second-color 29% 100%);
  }
}

.example__heading {
  margin: 0 0 25px;

  font-size: 34px;
  line-height: 60px;

  @media (min-width: $tabletWidth) {
    margin: 0 0 65px;
    font-size: 56px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 130px;
    padding-top: 45px;

    font-size: 50px;
  }
}

.example__wrapper {
  @media (min-width: $desktopWidth) {
    width: 40%;
  }
}

.example__desktop-wrapper {
  @media (min-width: $desktopWidth) {
    position: relative;
    display: flex;
    margin-bottom: 65px;
  }
}

.example__desc {
  margin: 0 0 25px;

  font-family: "Arial", serif;
  line-height: 18px;

  @media (max-width: $tabletWidth - 1px) {
    max-width: 480px;
  }

  @media (min-width: $tabletWidth) {
    margin: 0 0 60px;
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: $desktopWidth) {
    width: 390px;
    font-size: 14px;
  }
}

.example__tablet-wrapper {
  @media (min-width: $tabletWidth) {
    display: flex;
    justify-content: space-between;
    margin: 0 0 80px;
  }

  @media (min-width: $desktopWidth) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.example__slider-wrapper {
  @media (min-width: $desktopWidth) {
    position: absolute;
    top: -230px;
    left: 513px;
    z-index: 10;
  }
}

.example__value {
  margin: auto;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tabletWidth) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktopWidth) {
    font-size: 27px;
  }
}

.example__field {
  position: absolute;
  top: 47px;
  left: 20px;

  margin: 0;
  padding: 0 10px;
  width: 65px;

  font-family: "Arial", serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;

  background-color: $second-color;

  @media (min-width: $tabletWidth) {
    top: 60px;
    left: 11px;

    width: 130px;
    padding: 0 3px;

    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktopWidth) {
    top: 55px;
    width: 118px;

    font-size: 13px;
  }
}

.example__results-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto 32px;
  width: 100%;
  list-style: none;

  @media (max-width: $tabletWidth) {
    max-width: 400px;
  }

  @media (min-width: $tabletWidth) {
    width: 366px;
    margin: 0;
  }

  @media (min-width: $desktopWidth) {
    width: 330px;
    margin: 0 0 55px;
  }
}

.example__results-item {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 13px 10px 20px;
  width: 102px;

  border: 1px solid $line-color;
  border-radius: 5px;

  @media (min-width: $tabletWidth) {
    width: 138px;
  }

  @media (min-width: $desktopWidth) {
    width: 125px;
    padding-bottom: 12px;
  }
}

.example__costs {
  display: flex;
  justify-content: center;
  margin: 0 0 35px;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tabletWidth) {
    flex-direction: column;
    margin: -2px 0 0;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktopWidth) {
    flex-direction: row;
    width: 295px;
    justify-content: space-between;

    font-size: 18px;
  }
}

.example__costs-field {
  margin: 0;

  @media (min-width: $tabletWidth) {
    margin: 0 0 9px;
  }

  @media (min-width: $desktopWidth) {
    margin: 0;
  }
}

.example__costs-value {
  margin: 0;

  text-align: right;
}

.example__img-wrapper {
  position: relative;
  /* растягиваем по ширине окна */
  width: 100vw;
  /* скрываем всё, что не поместилось в экран */
  overflow: hidden;
  /* центрируем обёртку */
  left: 50%;
  transform: translate(-50%);
  /* центрируем картинки */
  display: flex;
  justify-content: center;
  margin-bottom: 27px;

  @media (min-width: $tabletWidth) {
    margin-bottom: 17px;
  }

  @media (min-width: $desktopWidth) {
    width: auto;
    margin-bottom: 32px;
  }
}

.example__slider img {
  width: 320px;
  max-width: none;

  @media (min-width: $tabletWidth) {
    width: 695px;
  }

  @media (min-width: $desktopWidth) {
    width: 615px;
  }
}

.example__button-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 37px;
  width: 72%;

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 30%;
    height: 12px;
    width: 37%;

    background-color: $default-color;
    border: 1px solid $line-color;
    border-radius: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 33%;
    height: 6px;
    width: 18%;

    background-color: $primary-color;
    border-radius: 10px;

    z-index: 5;
  }

  @media (min-width: $tabletWidth) {
    width: 570px;

    margin: 0 auto 75px;

    &::after {
      width: 440px;
      height: 4px;
      top: 8px;
      left: 12%;
      background-color: $line-color;
    }

    &::before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 5px;
      left: 281px;
      box-shadow: 0 0 0 10px $default-color,
        0 1px 6px 10px $icon-color,
        0 0 0 11px $line-color;
    }

    @media (min-width: $desktopWidth) {
      &::after {
        width: 390px;
      }

      &::before {
        left: 252px;
      }
    }

    &:hover,
    &:focus {
      &::before {
        cursor: pointer;
        box-shadow: 0 0 0 10px $default-color,
          0 3px 9px 10px $icon-color,
          0 0 0 11px $line-color;
      }
    }

    &:active {
      &::before {
        box-shadow: 0 0 0 10px $default-color,
          0 4px 9px 10px $icon-color,
          0 0 0 12px $primary-color;
      }
    }
  }

  @media (min-width: $desktopWidth) {
    width: 515px;
    margin: 0 0 0 70px;
  }
}

.example__button {
  position: relative;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;

    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #61636096;
  }

  &:hover,
  &:focus {
    cursor: pointer;

    &::after {
      border-bottom: 1px solid #61636096;
    }
  }

  &:active {
    &::after {
      border-bottom: none;
    }
  }

  @media (min-width: $tabletWidth) {
    font-size: 18px;
    line-height: 20px;
  }
}
