.goods {
  list-style: none;
}

.goods__wrapper {
  @media (min-width: $tabletWidth) {
    padding: 0 40px;
  }
}

.goods__item {
  position: relative;
  padding: 0 0 25px;

  &::after {
    content: "";

    position: absolute;
    width: 100vw;
    height: 1px;
    bottom: 0px;
    left: -20px;

    background-color: $line-color;
  }

  @media (min-width: $tabletWidth) {
    padding: 0 0 40px;
    margin: 0 0 60px;

    background-image: linear-gradient(
      180deg,
      transparent 0 15%,
      $second-color 15% 100%
    );

    &:nth-child(2n + 1) {
      padding: 33px 0 40px;
    }

    &::after {
      display: none;
    }
  }
}

.goods__link {
  display: flex;

  &:hover {
    cursor: default;
  }

  @media (min-width: $tabletWidth) {
    margin: 0 0 23px;

    flex-direction: column;
    align-items: center;
  }
}

.goods__img {
  display: block;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tabletWidth) {
    margin: 0 0 35px;
  }
}

.goods__heading {
  margin: 0;
  padding-top: 22px;

  width: 80px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tabletWidth) {
    width: 150px;
    padding: 0;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

.goods__table {
  position: absolute;
  left: 137px;
  top: 72px;
  width: 147px;

  font-family: "Arial", serif;
  font-size: 12px;
  line-height: 13px;
  color: $icon-color;

  @media (min-width: $tabletWidth) {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 0 33px;

    font-size: 16px;
    line-height: 16px;

    border-collapse: collapse;
  }
}

.goods__table td {
  @media (min-width: $tabletWidth) {
    border-bottom: 1px solid $line-color;
    padding: 7px 0;
  }
}

.goods__field {
  text-align: left;
}

.goods__value {
  text-align: right;
}

.goods__button {
  width: 100%;
  padding: 10px 15px 10px;

  font-size: 16px;
  line-height: 20px;
  color: $default-color;
  text-transform: uppercase;
}
