.intro {
  display: flex;
  flex-direction: column;
  padding-top: 25px;

  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(180deg, $primary-color 64%, $default-color 64%);
  background-repeat: no-repeat;
  background-position: center 165px, center 0px, center;
  // background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png"),
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(180deg, $primary-color 64%, $default-color 64%);
    background-position: center 165px, center 0px, center;
    background-repeat: no-repeat;
    background-size: 280px auto, 320px auto, contain;
  }

  @media (min-width: $tabletWidth) {
    padding-top: 45px;
    padding-bottom: 530px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: center 248px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 702px auto;
    }
  }

  @media (min-width: $desktopWidth) {
    margin-top: -125px;
    padding-bottom: 170px;

    background-image: url("../img/index-can-desktop@1x.png"),
      url("../img/index-background-desktop@1x.jpg"),
      linear-gradient(270deg, $primary-color 0 100%);

    background-size: 505px auto, 650px auto, 53% 640px;
    background-position: 500px 130px, 643px 10px, 106% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png"),
        url("../img/index-background-desktop@2x.jpg"),
        linear-gradient(270deg, $primary-color 0 100%);
    }
  }
}

.intro__wrapper {
  @media (min-width: $tabletWidth) {
    padding: 0;
  }

  @media (min-width: $desktopWidth) {
    padding: 160px 0 0;
    margin: 0 170px;
    overflow: hidden;
  }
}

.intro__desc {
  margin: 0 0 25px;
  max-width: 480px;

  font-size: 36px;
  line-height: 36px;
  color: $default-color;
  text-align: center;

  @media (min-width: $tabletWidth) {
    max-width: 535px;
    margin: 0 0 35px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $main-color;
  }

  @media (min-width: $desktopWidth) {
    width: 375px;

    font-size: 54px;
    line-height: 60px;
  }
}

.intro__slogan {
  margin: 0 0 305px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $default-color;

  @media (min-width: $tabletWidth) {
    margin: 0 0 50px;

    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    color: $main-color;
  }

  @media (min-width: $desktopWidth) {
    margin: 0 0 40px;
    font-size: 18px;
    line-height: 20px;
  }
}

.intro__link {
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $default-color;

  @media (min-width: $tabletWidth) {
    width: 250px;
    padding: 16px 27px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktopWidth) {
    width: 225px;
    padding: 14px 16px;

    font-size: 20px;
    text-align: center;
  }
  outline: none;
}
