.logo {
  display: flex;
}

.logo--footer {
  justify-content: center;
}

.logo__img {
  width: 190px;
}

.logo__img--footer {
  display: flex;
  width: 135px;
  margin: auto;
}

.logo__link {
  display: block;
  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
