.nav__item:not(:last-child) {
  @media (min-width: $tabletWidth) {
    margin-right: 33px;
  }
}

.nav__button {
  position: absolute;
  top: 20px;
  right: 17px;

  width: 30px;
  height: 25px;
  border: none;
  background-color: transparent;

  &:before {
    content: "";

    position: absolute;
    top: 2px;
    right: 2px;

    width: 25px;
    height: 3px;

    background-color: $main-color;
    box-shadow: 0 8px 0 0 $main-color, 0 16px 0 0 $main-color;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tabletWidth) {
    display: none;
  }
}
