.page-header {
  padding-top: 15px;
  overflow: hidden;

  @media (min-width: $tabletWidth) {
    padding-top: 25px;
  }

  @media (min-width: $desktopWidth) {
    padding-top: 50px;
  }
}

.page-header__logo {
  padding-bottom: 10px;
  background-color: transparent;
}
