.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.page-footer__logo {
  padding: 35px 0 33px;

  border-bottom: 1px solid $line-color;
}

.page-footer__socials {
  padding: 21px 0 16px;

  border-bottom: 1px solid $line-color;
}
