.plans {
  padding-top: 20px;

  @media (min-width: $tabletWidth) {
    padding-top: 0;
  }
}

.plans__list {
  margin: 0;
  padding: 0;
}

.plans__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tabletWidth) {
    margin-bottom: 30px;
  }
}
