.programms {
  list-style: none;
}

.programms__item {
  position: relative;
  padding: 30px 20px 25px;
  background-color: $second-color;

  @media (min-width: $tabletWidth) {
    padding: 75px 55px 65px;
  }

  @media (min-width: $desktopWidth) {
    padding: 70px 35px 60px;
  }
}

.programms__name {
  margin: 0 0 30px;
  padding-left: 70px;

  font-size: 23px;
  line-height: 37px;

  @media (min-width: $tabletWidth) {
    padding-left: 0;
    margin: 0 0 25px;

    font-size: 34px;
  }

  @media (min-width: $desktopWidth) {
    padding-left: 145px;
    margin: 0 0 60px;
    font-size: 31px;
  }
}

.programms__item:first-child::before {
  content: "";

  position: absolute;
  top: 23px;
  left: 20px;

  width: 55px;
  height: 55px;

  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;

  @media (min-width: $tabletWidth) {
    top: 85px;
    left: 445px;

    width: 205px;
    height: 205px;
    background-size: cover;
  }

  @media (min-width: $desktopWidth) {
    top: 40px;
    left: 35px;

    width: 95px;
    height: 95px;
  }
}

.programms__item:last-child::before {
  content: "";

  position: absolute;
  top: 23px;
  left: 13px;

  width: 69px;
  height: 53px;

  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;

  @media (min-width: $tabletWidth) {
    top: 91px;
    left: 419px;

    width: 257px;
    height: 205px;
    background-size: cover;
  }
}

.programms__desc {
  position: relative;
  margin: 0 0 40px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  &::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
  }

  @media (min-width: $tabletWidth) {
    width: 345px;
    margin: 0 0 55px;

    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 0;
      height: 0;
    }
  }

  @media (min-width: $desktopWidth) {
    width: 430px;
    margin: 0 0 25px;

    font-size: 14px;
  }
}

.programms__link {
  position: relative;
  display: inline-block;
  padding-right: 60px;
  font-size: 16px;
  line-height: 16px;

  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 95px;
    width: 40px;
    height: 15px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;

    @media (min-width: $tabletWidth) {
      left: 122px;
    }
  }

  &:hover::before,
  &:focus::before {
    left: 99px;
    top: 4px;
    outline: none;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    cursor: pointer;

    @media (min-width: $tabletWidth) {
      left: 126px;
    }
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: $tabletWidth) {
    font-size: 20px;
  }

  @media (min-width: $desktopWidth) {
    font-size: 18px;
  }
}
