.socials__list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 130px;

  list-style: none;
}

.socials__icon {
  fill: $icon-color;

  &:hover,
  &:focus {
    fill: $primary-button-color-hover;
  }

  &:active {
    fill: $primary-button-textcolor-hover;
  }
}
