.special-offer {
  padding: 187px 10px 42px;

  background-color: $primary-color;
  background-image: url("../img/icon-gift.svg"),
    url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 65px, center;
  background-size: 60px 60px, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tabletWidth) {
    display: flex;
    padding: 75px 40px 70px;

    background-image: url("../img/icon-gift.svg"),
      url("../img/gift-photo-tablet@1x.jpg");
    background-position: 90px 65px, center;
    background-size: 60px 60px, cover;
  }
}

.special-offer__call {
  margin: 0 auto;
  width: 147px;

  font-family: "Arial", serif;
  font-size: 16px;
  line-height: 20px;
  color: $default-color;
  text-align: center;

  @media (min-width: $tabletWidth) {
    margin: 0 100px 0 auto;
    text-align: left;
  }
}
