body {
  margin: 0 auto;
  min-width: 320px;
  outline: 1px solid red;

  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  color: $mainFontColor;
  // перенос слов
  word-break: break-all;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// body > * {
//   outline: 2px solid tomato;
// }

// body > * > * {
//   outline: 2px dashed mediumseagreen;
// }

// body > * > * > * {
//   outline: 2px dotted darkslateblue;
// }

// body > * > * > * > * {
//   outline: 2px dotted darkorange;
// }

// body > * > * > * > * > * {
//   outline: 2px dotted teal;
// }
