/* Vars:
   ========================================================================== */

// Font
$mainFont: "Oswald", "Arial", sans-serif;

// Size
$mainFontColor: #000000;
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 18px;

$desktopWidth: 1300px;
$tabletWidth: 768px;
$phoneWidth: 320px;

$mobilePadding: 20px;
$tabletPadding: 30px;
$desktopPadding: 110px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main color
$line-color: #d9d9d9;
$icon-color: #444;
$main-color: #000000;
$default-color: #ffffff;
$primary-color: #63a73a;
$second-color: #f2f2f2;
$primary-button-color: #68b738;
$primary-button-color-hover: #5eaa2f;
$primary-button-textcolor-hover: #8fc46e;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
